<p id="notice"><%= notice %></p>

<p>
  <strong>User1:</strong>
  <%= @game.user1_id %>
</p>

<p>
  <strong>User2:</strong>
  <%= @game.user2_id %>
</p>

<p>
  <strong>User1 score:</strong>
  <%= @game.user1_score %>
</p>

<p>
  <strong>User2 score:</strong>
  <%= @game.user2_score %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @game.winner %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
